@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto", sans-serif;;
}
.languages{    
    padding: 2rem 4rem;
    display: flex;
    justify-content: flex-end;
}
.aze,.eng,.ru{
    width: 45px;
    margin-left: .5rem;
}
#Block{
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    width: 336px;
    margin: 123px auto; 
}
.yellow{
    width: 336px;
    height: 28px;
    background-color: #FFDC40;
    border-radius: 10px 10px 0 0;
}
.block-title{
    text-align: center;
    margin-top: 1rem;
    font-size: 26px;
    font-weight: 900;
    line-height: 30.47px;    
}
.first-img{
   margin:25px 0 7px 266px ;
}
.second-img{
    display: none;
    margin:25px 0 7px 266px;
    
}
.first-img,.second-img,span:hover{
    cursor: pointer;
}

.enter-all{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 1rem;
}

.enter{    
    display: flex;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    width: 286px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
}
.list{
    width: 80%;
    margin: auto;
    padding: 10px 0;
    border-radius: 10px;
}
.img{
    position: relative;
    top: 15px;
    left: -25px;
}  
.input{
    display: none;
    border: none;
    width: 100%;
    height: 20px;
    
}

.add-all{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 42px;    
    background: #833AE0;
    border-radius: 71px;
}
.add-sign:hover{
    cursor: pointer;
}

.add-text{
    padding-right: 20px;
}

.add-sign{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;    
    background: #9953F1;
    border-radius: 71px;  
    text-align: center;
}
.add-sign p {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;    
    color: #FFFFFF;
    
}
.text{    
    margin-right: 38px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
}
.text:hover{
    cursor: pointer;
}